@page "/events"
@attribute [Authorize]
<h3>Events</h3>

<AuthorizeView>
  <Authorized>
    @if (VotingEvents != null) {
      @foreach (var votingEvent in VotingEvents) {
        <SingleEventItem EventItem="votingEvent" ActiveEventChangedCallback="OnActiveEventItemChangedAsync" EventItemDeletedCallback="OnEventDeleted" />
      }
    }
    <hr />
    <b>Add a New Event:</b>
    <form @onsubmit="OnAddNewEventButtonClickedAsync">
      <input @bind="EventNameToAdd" /> Vote for: <input type="number" min="1" @bind="EventNumVotesToAdd" />
      <button type="submit" aria-label="New">
        <span class="oi oi-plus" aria-hidden="true"></span>
      </button>
    </form>
  </Authorized>
  <NotAuthorized>
    <b>You do not have permission to view the events.</b>
  </NotAuthorized>
</AuthorizeView>
