@page "/results"
@attribute [Authorize]
<h3>Results</h3>

<AuthorizeView>
  <Authorized>
    <EventSelector EventChangedCallback="OnSelectedEventChangedAsync" />
    @foreach(var result in VoteResults) {
      <b>@result.Team!.Name: @result.NumVotes</b><br />
    }
  </Authorized>
  <NotAuthorized>
    <b>You do not have permission to view the voting results.</b>
  </NotAuthorized>
</AuthorizeView>
